.mainFooter {
  padding: 60px 0;
  background: #1e2735;
  color: #fff;

  &Inner {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &Social {
    a {
      display: inline-block;
      font-size: 1.429rem;
      margin-right: 10px;
      text-decoration: none;
      transition: all 300ms ease;
      color: #fff;

      &:last-child {
        margin-right: 0;
      }

      &:focus, &:active, &:hover {
        color: rgba(255, 255, 255, 0.5)
      }
    }
  }

  @media all and (max-width: 767px) {
    &Inner {
      display: block;
    }
    &Copyright {
      margin-bottom: 10px;
    }
  }
}